<!DOCTYPE html>
<html>
<title>Covid-19 India</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-left">Covid-19 India</span>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar">
  <div class="w3-container">
    <h5>Dashboard</h5>
  </div>
  <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a href="{{ url_for('index')}}" class="w3-bar-item w3-button w3-padding "><i class="fa fa-users fa-fw"></i>  Overview</a>
    <a href="{{ url_for('/covid_India/')}}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-eye fa-fw"></i>  Dashboard</a>
    <a href="{{ url_for('report')}}" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa fa-users fa-fw"></i>  Report</a>
  </div>
  <div>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn3.iconfinder.com%2Fdata%2Ficons%2Fcoronavirus-12%2F64%2Fmask-wearing-avatar-man-covid19-coronavirus-air_pollution-512.png&f=1&nofb=1" width="100%" style="position: absolute;left: 0;bottom: 0">
  </div>  
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i> My Report</b></h5>
    <h5 style="text-align: right"><a href="https://raw.github.com/siddfulzele/Covid_19/master/Covid_Report.pdf" target="_blank"><i class="fa fa-download"></i> Download PDF</a></h5>
  </header>

  <div>
    <!-- <embed src="https://raw.github.com/siddfulzele/Covid_19/master/Covid_Report.pdf" width="100%" height="500px" /> -->
    <!-- <iframe src="https://raw.github.com/siddfulzele/Covid_19/master/Covid_Report.pdf" width="100%" height="500px">
      
    </iframe> 
     <object data="https://raw.github.com/siddfulzele/Covid_19/master/Covid_Report.pdf" type="application/pdf">
        <embed src="https://raw.github.com/siddfulzele/Covid_19/master/Covid_Report.pdf" type="application/pdf" />
    </object>
   -->

   <iframe src="https://docs.google.com/gview?url=https://raw.github.com/siddfulzele/Covid_19/master/Covid_Report.pdf&embedded=true" style="width:100%; height:800px;" frameborder="0"></iframe>
  </div>
  
  <!-- Footer -->
  
    <div class="w3-container w3-dark-grey w3-padding-32">
    <div class="w3-row">
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-orange">Source</h5>
        <p>https://www.api.covid19india.org</p>
        <p>https://www.wikipedia.org/</p>
        <p>https://twitter.com/</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-red">Take Precautions & Stay Safe</h5>
        <p>Wash your hands often</p>
        <p>Avoid close contact</p>
        <p>Cover coughs and sneezes</p>
        <p>Clean and disinfect</p>
        <p>Monitor Your Health</p>
      </div>
      <div class="w3-container w3-third">
        <h5 class="w3-bottombar w3-border-green">Analysis Team</h5>
        <p><a href="https://www.facebook.com/fulzelesidd" target="_blank">Siddhant Fulzele</a></p>
        <p><a href="https://www.facebook.com/shubham.rajput.33633" target="_blank">Shubham Rajput</a></p>
        <p><a href="https://www.facebook.com/tejas.akadkar" target="_blank">Tejas Akadkar</a></p>
        <p><a href="https://www.facebook.com/jazz.christino" target="_blank">Aakash Kundu</a></p>
        <p><a href="https://www.facebook.com/akshay.kale.1800" target="_blank">Akshay Kale</a></p>
      </div>
    </div>


  <!-- End page content -->

</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
    overlayBg.style.display = "none";
  } else {
    mySidebar.style.display = 'block';
    overlayBg.style.display = "block";
  }
}

// Close the sidebar with the close button
function w3_close() {
  mySidebar.style.display = "none";
  overlayBg.style.display = "none";
}
</script>

</body>
</html>
